.banners__banner:hover img {
    transform: scale(1.05);
}

.banners__banner img {
    object-fit: cover;
    transition: all .6s ease;
    width: 100%;
    transform: scale(1);
}

.banners__banner.card-wrapper {
    padding: 0;
    overflow: hidden;
}

.banners__banner-content {
    position: absolute;
    left: 0;
    top: 0;
    padding: 1.5rem 1rem;
}

.banners__banner-text,
.banners__banner-subtitle {
    font-size: .8rem;
    font-weight: 300;
}

.banners__banner-subtitle {
    text-transform: uppercase;
}

.banners__banner-title {
    font-size: 1.3rem;
}

.banners__banner-text {
    line-height: 150%;
}

.banners .row > div:first-child * {
    color: white;
}

.banners .row > div:not(:first-child) * {
    color: var(--color-131921);
}

.banners a {
    width: 100%;
}

/*RESPONSIVE PART*/
@media screen and (max-width: 991px) {
    .banners .col-12 {
        margin-bottom: calc(var(--bs-gutter-x) * 1);
    }
}
@media screen and (max-width: 575px) {
    .banners__banner-content {
        top: 2rem;
        left: 0;
        text-align: center;
        width: 100%;
    }
}
/*END RESPONSIVE PART*/