.hero-section {
    background-color: white;
}
.main-banner__content {
    top: 15%;
    left: 10%;
}

.main-banner__content h4 {
    color: var(--color-bf4800);
    font-size: .9rem;
    font-weight: 400;
    line-height: 150%;
    margin: 0 0 .8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main-banner__content h5 {
    font-size: 2.7rem;
    line-height: 150%;
    letter-spacing: -2px;
    font-weight: 500;
    text-transform: none;
}

.main-banner__content p {
    font-size: .9rem;
    line-height: 175%;
    letter-spacing: 1px;
    color: var(--color-131921);
}

.small-banner__content {
    top: 15%;
    left: 5%;
}

.small-banner__content h4 {
    color: var(--color-bf4800);
    font-size: .6rem;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.small-banner__content h5 {
    font-size: 1.7rem;
    line-height: 150%;
    letter-spacing: -2px;
    font-weight: 500;
    text-transform: none;
    color: var(--color-131921);
}

.small-banner__content p {
    font-size: .7rem;
    line-height: 175%;
    letter-spacing: 1px;
    color: var(--color-131921);
}

.small-banners {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: calc(var(--bs-gutter-x) * 1) calc(var(--bs-gutter-x) * 1);
}

.main-banner img,
.small-banner {
    border-radius: .55rem;
}

.small-banner {
    overflow: hidden;
}

.small-banner img {
    transition: all .6s ease;
    transform: scale(1);
}

.small-banner:hover img {
    transform: scale(1.05);
}

.hero-section .swiper-pagination-bullet {
    transition: all .3s ease;
}

.hero-section .swiper-pagination-bullet-active {
    background: var(--color-131921);
}