.checkout {
    min-height: 350px;
}

.checkout .card-wrapper {
    padding: 1.5rem;
}

.checkout .checkout__product-image img  {
    max-width: 80px;
}

.checkout .checkout__product-price p {
    min-width: max-content;
}

.checkout .checkout__subtotal-info,
.checkout .checkout__product {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-f5f5f7);
}

.checkout .badge {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--color-febd69);
    color: var(--color-131921);
    width: 20px;
    height: 20px;
    font-size: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.checkout__product-info p,
.checkout__subtotal-info .title {
    color: var(--color-777777);
}

.checkout__product-info p {
    font-size: .8rem;
}

.checkout__product-info a p {
    color: var(--color-131921);
}

.checkout__product-info a:hover {
    opacity: .8;
}

.checkout .checkout__product-info {
    flex: 1 1;
}

@media screen and (min-width: 768px) and (max-width: 990px) {
    .checkout .badge {
        width: 15px;
        height: 15px;
        font-size: .55rem;
    }

    .checkout__product-info p {
        font-size: .65rem;
    }

    .checkout .checkout__product-image img {
        max-width: 40px;
    }
}

@media screen and (min-width: 768px) {
    .checkout .row > .col-12:first-child {
        padding-right: .5rem;
    }
    .checkout .row > .col-12:last-child {
        padding-right: .5rem;
    }
}

@media screen and (max-width: 767px) {
    .checkout .checkout__product-info {
        flex: 1 1;
    }

    .checkout__product-info p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 575px) {
    .checkout .checkout__buttons > * {
        width: 100%;
    }

    .checkout__product-info p {
        font-size: .8rem;
    }
}