.contact__form {
    padding: 1rem;
}

.contact__form-right {
    padding-left: 3rem;
}

.contact__info * {
    color: var(--color-777777);
}

.contact__info a *,
.contact__info a {
    transition: all .3s ease;
}

.contact__info a:hover * {
    color: var(--color-bf4800);
}

/*RESPONSIVE PART*/
@media screen and (max-width: 991px) {
    .contact__form {
        flex-direction: column-reverse;
    }

    .contact__form .w-50 {
        width: 100%!important;
    }

    .contact__form-right {
        padding: 0;
    }
}
/*END RESPONSIVE PART*/