.filter-title {
    margin-bottom: 1.5rem;
    color: var(--color-131921);
    font-size: 1.1rem;
}


.filter-subtitle {
    font-size: .9rem;
    font-weight: 600;
    color: var(--color-1c1c1b);
    margin-bottom: 1rem;
}

.store .card-wrapper {
    padding: 1rem;
}

.category-filter ul {
    padding: 0;
    margin: 0;
}

.store .form-check-disable .form-check-label {
    opacity: .2;
}

.store .form-check-label,
.category-filter li {
    cursor: pointer;
    list-style: none;
    transition: all .3s ease;
    color: var(--color-777777);
    outline: none;
}

.store .form-check-input:focus {
    box-shadow: none;
}

.store .category-filter li:hover {
    color: var(--color-febd69);
}

.store .filter-price input {
    background-color: var(--color-f5f5f7)!important;
}

.store .filter-price__item:first-child {
    margin-right: .8rem;
}

.store .filter-price__item > div {
    margin-left: .2rem;
}

.store .filter-colors {
    padding: 0;
}

.store .filter-colors li {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    list-style: none;
    margin-right: .5rem;
    margin-bottom: .5rem;
    cursor: pointer;
    position: relative;
}

.store .filter-colors li:hover:before {
    opacity: 1;
}

.store .filter-colors li:before {
    content: '';
    position: absolute;
    width: 23px;
    height: 23px;
    left: 1px;
    top: 1px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid white;
    opacity: 0;
    transition: all .3s ease;
}

.store .filter-tags {
    margin-bottom: -.6rem;
}

.store .filter-tags .badge {
    cursor: pointer;
    padding: .6rem .4rem;
    background-color: var(--color-f5f5f7);
    color: var(--color-777777);
    font-weight: 300;
    margin: 0 .6rem .6rem 0;
    transition: all .3s ease;
}

.store .filter-tags .badge:hover {
    background-color: var(--color-ededed);
}

.store .category-header__sort-by select {
    border: none;
    padding: 1rem;
    background-color: var(--color-f5f5f7);
    border-radius: 6px;
}

.store .category-header__right > p {
    color: var(--color-777777);
}

.store .category-header__grid.active span {
    background-color: white;
}

.store .category-header__grid.active {
    background-color: var(--color-131921);
}

.store .category-header__grid {
    padding: .5rem;
    min-width: 31px;
    cursor: pointer;
    min-height: 30px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    background-color: var(--color-f5f5f7);
    border-radius: 6px;
}

.store .category-header__grid span {
    width: 2px;
    height: .95rem;
    display: block;
    background-color: var(--color-131921);
    border-radius: 6px;
}

.store .category-header__grid span:not(:last-child) {
    margin-right: 2px;
}

.store .category-header__grid.four {
    transform: rotate(90deg);
}

.store .category-products.grid-4 .product-card__image {
    flex: 0 0 30%;
    width: 30%;
    max-width: 30%;
}

.store .category-products.grid-4 .product-card {
    display: flex;
}

.store .category-products.grid-4 a {
    transform: translateX(0)!important;
    opacity: 1!important;
}

.store .category-products.grid-4 .product-card__action-bar .d-flex {
    flex-direction: row!important;
}

.store .category-products.grid-4 .product-card__action-bar {
    bottom: 5%;
    top: auto;
}

/*RESPONSIVE PART*/
@media screen and (min-width: 992px) {
    .store .grid-4,
    .store .grid-3,
    .store .grid-2,
    .store .grid-1 {
        grid-template-rows: auto;
        column-gap: 1.5rem;
    }

    .store .grid-1 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .store .grid-2 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .store .grid-3 {
        grid-template-columns: 1fr 1fr;
    }

    .store .grid-4 {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .store .grid-4,
    .store .grid-3,
    .store .grid-2,
    .store .grid-1 {
        grid-template-columns: 1fr 1fr;
        column-gap: 1.5rem;
    }
}
/*END RESPONSIVE PART*/