.header-top-strip {
    background-color: var(--color-131921);
    border-bottom: 1px solid var(--color-3b4149);
}

.header-top-strip p {
    font-weight: 300;
}

.header-upper {
    background-color: var(--color-131921);
}

.header-upper h1 {
    font-weight: 400;
}

.header-upper__links img {
    width: 1.5rem;
    height: 1.5rem;
}

.header-upper__links p {
    line-height: 140%;
    font-size: .8rem;
}

.header-upper__links a {
    transition: all .3s ease;
}

.breadcrumb a:hover,
.header-upper__links a:hover {
    color: var(--color-febd69)!important;
}

.header-upper__links a img {
    transition: all .6s ease;
}

.header-upper__links a:hover img {
    transform: rotateY(360deg) rotateZ(1deg);
}

.header-bottom {
    background-color: var(--color-232f3e);
}

.header-bottom .dropdown button,
.header-bottom .menu-links a {
    color: #fff;
    font-size: .9rem;
    line-height: 150%;
    font-weight: 400;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

.header-bottom .dropdown-item {
    transition: all .3s ease;
}

.menu-bottom button:hover,
.menu-links a:hover,
.header-bottom .dropdown-item:focus,
.header-bottom .dropdown-item:hover {
    background-color: transparent;
    color: var(--color-febd69);
}

.header-bottom .dropdown-item {
    padding: .6rem 1rem;
}

.header-bottom .dropdown-item:not(:last-child) {
    border-bottom: 1px solid var(--color-3b4149);
}

.header-bottom .dropdown-menu {
    width: 100%;
    background-color: var(--color-131921);
    border-radius: 0;
    padding: 0;
}

.header-bottom .dropdown button.btn-secondary {
    border: none;
    border-right: 1px solid var(--color-131921);
    border-radius: 0;
    padding-left: 0;
    padding-right: 1.9rem;
}

.header-bottom .dropdown button.btn-secondary:after {
    position: relative;
    top: -2px;
}

.header-bottom .dropdown button.btn-secondary:before {
    content: '';
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    background-image: url('/public/images/menu.svg');
    background-repeat: no-repeat;
}

.header-upper__links .input-group {
    width: 50%;
}

.header-upper__links input.form-control {
    height: 100%;
}

.header-upper__links .form-control,
.header-upper__links input.form-control {

    border: none;
}

.header-upper__burger svg {
    color: white;
    opacity: 1;
    font-size: 1.7rem;
    cursor: pointer;
    transition: all .3s ease;
}

.header-upper__burger:hover svg {
    opacity: .8;
}

.header-bottom__close path {
    stroke: white;
}

.header-bottom__close:hover {
    opacity: .8;
}

.header-bottom__close {
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all .3s ease;
}

/*RESPONSIVE PART*/
@media screen and (max-width: 990px) {
    .header-upper__links .badge {
        position: absolute;
        right: -5px;
        top: -5px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: .55rem;
    }
    .header-upper__links p {
        line-height: 120%;
        font-size: .7rem;
    }
}

@media screen and (max-width: 767px) {
    .header-bottom {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        z-index: 999;
        background-color: transparent;
        visibility: hidden;
    }

    .header-bottom.active {
        visibility: visible;
    }

    .header-bottom.active .overlay {
        opacity: 1;
    }

    .header-bottom.active .container-xxl {
        opacity: 1;
        transform: translateX(0);
    }

    .header-bottom .overlay {
        z-index: 1000;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,.3);
        opacity: 0;
        transition: all .3s ease;
    }

    .header-bottom .container-xxl {
        z-index: 1001;
        position: relative;
        width: 90%;
        height: 100%;
        background: var(--color-131921);
        margin: 0 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 100%;
        overflow: auto;
        opacity: 0;
        transform: translateX(100%);
        transition: all .3s ease;
    }

    .header-bottom .dropdown-menu button:hover {
        background-color: #e0e0e0;
        color: var(--color-131921);
    }

    .header-bottom .dropdown-menu button {
        background-color: white;
        color: var(--color-131921);
    }

    .header-bottom .dropdown-item:not(:last-child) {
        border-bottom: 1px solid var(--color-131921);
    }

    .header-bottom .dropdown button.btn-secondary {
        border: none;
    }

    .header-upper__links .input-group.active > .form-control {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }

    .header-upper__links .input-group > .form-control svg {
        fill: var(--color-131921);
        margin-right: .5rem;
        cursor: pointer;
        display: block;
    }

    .header-upper__links .input-group > .form-control {
        position: absolute;
        width: 304px;
        display: flex;
        align-items: center;
        right: -200px;
        border-radius: 6px!important;
        border: 1px solid var(--color-131921);
        top: 150%;
        z-index: 9;
        opacity: 0;
        transition: all .3s ease;
        transform: translateY(20px);
        visibility: hidden;
    }

    .header-upper__links .input-group {
        width: auto;
    }

    .header-upper__links .input-group span {
        background-color: transparent;
    }

    .header-upper__links .input-group svg {
        fill: white;
        font-size: 1.4rem!important;
    }

    .header-upper__links input.form-control {
        height: auto;
    }
}

@media screen and (max-width: 575px) {
    .header-upper__links .input-group > .form-control {
        right: -168px;
    }
    .header-top-strip p {
        font-size: .8rem;
        line-height: 130%;
    }

    .header-upper__links img {
        width: 1.2rem;
        height: 1.2rem;
    }

    .header-upper__links .input-group svg,
    .header-upper__burger svg {
        font-size: 1.2rem!important;
    }
}
/*END RESPONSIVE PART*/