@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root {
    --color-131921: #131921;
    --color-3b4149: #3b4149;
    --color-febd69: #febd69;
    --color-e0a663: #e0a663;
    --color-232f3e: #232f3e;
    --color-bf4800: #bf4800;
    --color-f5f5f7: #f5f5f7;
    --color-ededed: #ededed;
    --color-777777: #777777;
    --color-1c1c1b: #1c1c1b;
}

p {
    line-height: 100%;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

html a {
    text-decoration: none;
    display: inline-block;
    transition: all .3s ease;
}

html input {
    outline: none;
}

html .form-control {
    border-color: #fff;
    padding: .7rem 1rem;
    background-color: var(--color-f5f5f7);
    transition: all .3s ease;
}

html .form-control:focus {
    box-shadow: none;
    border-color: white;
    border-right-color: #fff;
    background-color: var(--color-ededed);
}

html .input-group-text {
    background-color: var(--color-febd69);
    cursor: pointer;
    transition: all .3s ease;
    border: none;
}

html .input-group-text:active,
html .input-group-text:hover {
    background-color: var(--color-e0a663);
}

.gap-10 {
    gap: .55rem;
}

.gap-15 {
    gap: .95rem;
}

.gap-30 {
    gap: 1.9rem;
}

html .btn {
    padding: .5rem 1.8rem;
    font-size: 1.1rem;
    line-height: 150%;
    border: none;
    border-radius: 30px;
    text-transform: capitalize;
    color: #fff;
    transition: all .3s ease;
}

html .btn-primary {
    background-color: var(--color-131921);
}

html .btn-primary:focus,
html .btn-primary:hover {
    background-color: var(--color-febd69);
    color: var(--color-131921);
}

html .btn-secondary {
    background-color: var(--color-febd69);
    color: var(--color-131921);
}

html .btn-secondary:focus,
html .btn-secondary:hover {
    background-color: var(--color-131921);
    color: white;
}

.card-wrapper {
    box-shadow: 0 0 10px #0000001a;
    background-color: white;
    padding: .5rem;
    border-radius: .55rem;
}

.section-heading {
    margin-bottom: 2rem;
    color: var(--color-131921);
}

section {
    background-color: var(--color-f5f5f7);
    padding: 3rem 0;
}

html .form-check-input:checked {
    background-color: var(--color-febd69);
    border-color: var(--color-febd69);
}
html .form-check-input:focus {
    border-color: var(--color-febd69);
}

html .form-check-label {
    user-select: none;
}

.policy .card-wrapper {
    padding: 1.5rem;
}

.policy__item:not(:last-child) {
    margin-bottom: 1.5rem;
}

.policy__item h5 {
    margin-bottom: 1rem;
}

.policy__item p {
    margin: 0;
    color: var(--color-777777);
}

.breadcrumb a {
    padding: 0 .5rem;
}

.breadcrumb p,
.breadcrumb a:not(:last-child) {
    color: var(--color-777777);
}

.breadcrumb a:not(:last-child):hover {
    color: var(--color-131921);
}

.breadcrumb a:last-child {
    pointer-events: none;
    color: var(--color-131921);
}

@media screen and (max-width: 1399px) {
    .card-wrapper:not(.without-margin) {
        margin-left: calc(var(--bs-gutter-x) * .5);
        max-width: calc(100% - calc(var(--bs-gutter-x) * 1));
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    html .btn:not(.without-responsive) {
        padding: .45rem 1.5rem;
        font-size: .9rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    html .btn:not(.without-responsive) {
        padding: .4rem 1.4rem;
        font-size: .85rem;
    }
}

@media screen and (max-width: 575px) {
    html .btn:not(.without-responsive) {
        padding: .3rem 1.2rem;
        font-size: .75rem;
    }
}