@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root {
    --color-131921: #131921;
    --color-3b4149: #3b4149;
    --color-febd69: #febd69;
    --color-e0a663: #e0a663;
    --color-232f3e: #232f3e;
    --color-bf4800: #bf4800;
    --color-f5f5f7: #f5f5f7;
    --color-ededed: #ededed;
    --color-777777: #777777;
}

p {
    line-height: 100%;
}

html a {
    text-decoration: none;
    display: inline-block;
    transition: all .3s ease;
}

html input {
    outline: none;
}

html .form-control {
    border-color: #fff;
}

html .form-control:focus {
    box-shadow: none;
    border-color: white;
    border-right-color: #fff;
}

html .input-group-text {
    background-color: var(--color-febd69);
    cursor: pointer;
    transition: all .3s ease;
    border: none;
}

html .input-group-text:active,
html .input-group-text:hover {
    background-color: var(--color-e0a663);
}

.gap-10 {
    gap: .55rem;
}

.gap-15 {
    gap: .95rem;
}

.gap-30 {
    gap: 1.9rem;
}

html .btn {
    padding: .5rem 1.8rem;
    font-size: 1.1rem;
    line-height: 150%;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease;
}

html .btn-primary {
    background-color: var(--color-131921);
}

html .btn-primary:focus,
html .btn-primary:hover {
    background-color: var(--color-febd69);
    color: var(--color-131921);
}

.card-wrapper {
    box-shadow: 0 0 10px #0000001a;
    background-color: white;
    padding: .5rem;
    border-radius: .55rem;
}

.section-heading {
    margin-bottom: 2rem;
    color: var(--color-131921);
}

section {
    background-color: var(--color-f5f5f7);
    padding: 3rem 0;
}

/*-----------------<Header> Part-----------------*/
.header-top-strip {
    background-color: var(--color-131921);
    border-bottom: 1px solid var(--color-3b4149);
}

.header-top-strip p {
    font-weight: 300;
}

.header-upper {
    background-color: var(--color-131921);
}

.header-upper h1 {
    font-weight: 400;
}

.header-upper__links img {
    width: 1.5rem;
    height: 1.5rem;
}

.header-upper__links p {
    line-height: 140%;
    font-size: .8rem;
}

.header-bottom {
    background-color: var(--color-3b4149);
}

.header-bottom .dropdown button,
.header-bottom .menu-links a {
    color: #fff;
    font-size: .9rem;
    line-height: 150%;
    font-weight: 400;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
}

.header-bottom .dropdown-item {
    transition: all .3s ease;
}

.header-bottom .dropdown-item:focus,
.header-bottom .dropdown-item:hover {
    background-color: transparent;
    color: var(--color-febd69);
}

.header-bottom .dropdown-item {
    padding: .6rem 1rem;
}

.header-bottom .dropdown-item:not(:last-child) {
    border-bottom: 1px solid var(--color-3b4149);
}

.header-bottom .dropdown-menu {
    width: 100%;
    background-color: var(--color-131921);
    border-radius: 0;
    padding: 0;
}

.header-bottom .dropdown button.btn-secondary {
    border: none;
    border-right: 1px solid var(--color-131921);
    border-radius: 0;
    padding-left: 0;
    padding-right: 1.9rem;
}

.header-bottom .dropdown button.btn-secondary:after {
    position: relative;
    top: -2px;
}

.header-bottom .dropdown button.btn-secondary:before {
    content: '';
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    background-image: url('../public/images/menu.svg');
    background-repeat: no-repeat;
}

/*-----------------END <Header> Part-----------------*/

/*-----------------<Footer> Part-----------------*/
footer {
    background-color: var(--color-232f3e);
}

footer.newsletter .input-group-text {
    background-color: var(--color-232f3e);
    color: white;
    border: 3px solid white;
}

footer.newsletter .input-group-text:active,
footer.newsletter .input-group-text:hover {
    background-color: var(--color-131921);
}

footer.newsletter .input-group-text {
    line-height: 88%;
}

footer:not(:first-child) {
    border-top: 1px solid var(--color-3b4149);
}

footer.copyright p {
    user-select: none;
    font-size: .8rem;
}

footer .footer-links a {
    font-weight: 300;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
    opacity: .8;
}

footer .social-icons svg {
    line-height: 100%;
    display: flex;
}

footer .social-icons a {
    background-color: var(--color-3b4149);
    padding: .7rem;
    border-radius: 50%;
}
/*-----------------END <Footer> Part-----------------*/

/*-----------------<Home> .home-wrapper-1 Part-----------------*/
.home-wrapper-1 {
    background-color: white;
}
.main-banner__content {
    top: 15%;
    left: 10%;
}

.main-banner__content h4 {
    color: var(--color-bf4800);
    font-size: .9rem;
    font-weight: 400;
    line-height: 150%;
    margin: 0 0 .8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main-banner__content h5 {
    font-size: 2.7rem;
    line-height: 150%;
    letter-spacing: -2px;
    font-weight: 500;
    text-transform: none;
}

.main-banner__content p {
    font-size: .9rem;
    line-height: 175%;
    letter-spacing: 1px;
    color: var(--color-131921);
}

.small-banner__content {
    top: 15%;
    left: 5%;
}

.small-banner__content h4 {
    color: var(--color-bf4800);
    font-size: .6rem;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.small-banner__content h5 {
    font-size: 1.7rem;
    line-height: 150%;
    letter-spacing: -2px;
    font-weight: 500;
    text-transform: none;
    color: var(--color-131921);
}

.small-banner__content p {
    font-size: .7rem;
    line-height: 175%;
    letter-spacing: 1px;
    color: var(--color-131921);
}

.small-banners {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: calc(var(--bs-gutter-x) * 1) calc(var(--bs-gutter-x) * 1);
}

.main-banner img,
.small-banner img {
    border-radius: .55rem;
}

.home-wrapper-1 .swiper-pagination-bullet {
    transition: all .3s ease;
}

.home-wrapper-1 .swiper-pagination-bullet-active {
    background: var(--color-131921);
}
/*-----------------END <Home> .home-wrapper-1 Part-----------------*/

/*-----------------<Home> .home-wrapper-2 Part-----------------*/
.home-wrapper-2 {
    background-color: var(--color-f5f5f7);
}
/*-----------------END <Home> .home-wrapper-2 Part-----------------*/

/*-----------------<Home> .home-wrapper-3 Part-----------------*/

.home-wrapper-3 .categories > a:nth-child(-n + 4) {
    border-bottom: 1px solid var(--color-ededed);
}

.home-wrapper-3 .categories > a:nth-child(4n + 4) {
    border-right: none;
}

.home-wrapper-3 .categories > a {
    flex: 0 0 25%;
    padding: .5rem 1rem;
    border-right: 1px solid var(--color-ededed);
}

.home-wrapper-3 .categories img {
    max-width: 100px;
    max-height: 100px;
}

.home-wrapper-3 .categories p {
    color: var(--color-3b4149);
}

.home-wrapper-3 .categories h6 {
    color: var(--color-131921);
}
/*-----------------END <Home> .home-wrapper-3 Part-----------------*/

/*-----------------<Home> .marque-wrapper Part-----------------*/
.marque-wrapper .marquee > div {
    margin-right: 2rem;
}
/*-----------------END <Home> .marque-wrapper Part-----------------*/




/*-----------------<BlogCard> Part-----------------*/
.blog-card {
    background-color: white;
    padding: 0;
    overflow: hidden;
}

.blog-card__content {
    padding: 1.3rem;
    z-index: 1;
    position: relative;
    background: white;
}

.blog-card__date {
    color: var(--color-777777);
    font-size: .95rem;
}

.blog-card__title {
    color: var(--color-131921);
}

.blog-card__description {
    color: var(--color-777777);
    font-weight: 400;
    font-size: .85rem;
    line-height: 150%;
}

.blog-card__image {
    position: relative;
    z-index: 0;
}

.blog-card__image img {
    transition: all .6s ease;
    transform: scale(1);
}

.blog-card:hover img {
    transform: scale(1.05);
}

.blog-card img {
    max-width: 100%;
}
/*-----------------END <BlogCard> Part-----------------*/

/*-----------------<ProductCard> Part-----------------*/
.product-card {
    padding: 1rem;
    background-color: white;
    overflow: hidden;
}

.product-card__image img,
.product-card__image a {
    width: 100%;
}

.product-card:hover .product-card__image img:last-child {
    display: block;
}

.product-card:hover .product-card__image img:first-child {
    display: none;
}

.product-card__image img:first-child {
    display: block;
}

.product-card__image img:last-child {
    display: none;
}

.product-card__image img {
    max-width: 100%;
}

.product-card__brand {
    color: var(--color-bf4800);
    font-size: .8rem;
}

.product-card__title {
    color: var(--color-131921);
    font-size: 1rem;
    transition: all .3s ease;
}

.product-card__title:hover {
    color: var(--color-232f3e);
}

.product-card__price {
    font-size: 1rem;
    color: var(--color-131921);
    font-weight: 500;
}

.product-card__action-bar {
    right: 3%;
    top: 2%;
    z-index: 2;
}

.product-card__action-bar a {
    transition: all .3s ease;
    opacity: 0;
    padding: .5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card:hover .product-card__action-bar a {
    transform: translateX(0);
    opacity: 1;
}

.product-card .product-card__action-bar a:hover {
    background-color: var(--color-febd69);
}

.product-card__action-bar a:nth-child(1) {
    transform: translateX(0);
    opacity: 1;
}

.product-card__action-bar a:nth-child(2) {
    transform: translateX(250%);
    opacity: 1;
}

.product-card__action-bar a:nth-child(3) {
    transform: translateX(300%);
}

.product-card__action-bar a:nth-child(4) {
    transform: translateX(350%);
}
/*-----------------END <ProductCard> Part-----------------*/

/*-----------------<SpecialProduct> Part-----------------*/
.special-product {
    overflow: hidden;
    background-color: white;
}

.special-product__images img {
    max-width: 100%;
}
/*-----------------END <SpecialProduct> Part-----------------*/